.primary-nav {
    margin-right: 1.5rem;
    display: flex;
    align-items: center;

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        padding: 0 1rem;
    }

    a {
        font-weight: 300;
        color: #FFF;
        text-decoration: none;
    }

}