.primary-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    @mixin atMedium {
        margin-right: 1.5rem;
        padding: 0;
    }

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        margin: 0 0.5rem;        
        @mixin atMedium {
            margin: 0 1rem;        
        }
    }

    a {
        font-weight: 500;
        color: #FFF;
        text-decoration: none;
        font-size: 0.9rem;
        @mixin atMedium {        
            font-size: 1rem;
            font-weight: 300;
        }
    }

}