.section-title {
    text-align: center;
    font-size: 2.55rem;
    font-weight: 300;
    margin-bottom: 3.5rem;
    @mixin atSmall {
        font-size: 3.75rem; 
        margin-bottom: 3.125rem;      
    }
    
    &--blue {
        color: $mainBlue;
    }

    strong {
        font-weight: 500;
    }

    &__icon {
        display: block;
        margin: 0 auto .6rem auto;

        @mixin atSmall {
            display: inline-block;
            margin: 0 1.5rem 0 0;
            vertical-align: top;
        }
    }
}